<div class="w-full h-full flex flex-col items-center">
    <div class="flex flex-col bg-neutral/85 text-base-100 p-4 text-justify leading-7">
        <h1 class="text-3xl mb-8 font-bold self-center text-start">TERMOS DE USO</h1>
        <h1 class="text-xl font-bold mb-2">Propriedade intelectual</h1>
        <div class="flex flex-col gap-6 mb-14">
            <p>
                O site da Green Power Serviços localizado em greenpowers.com.br é uma obra protegida por direitos autorais pertencente à Green Power Serviços. Certos recursos do Site podem estar sujeitos a diretrizes, termos ou regras adicionais, que serão publicados no Site em conexão com tais recursos.
            </p>
            <p>
                Estes Termos de Uso descrevem os termos e condições juridicamente vinculativos que supervisionam o uso do Site. AO ENTRAR NO SITE, VOCÊ ESTÁ CUMPRINDO ESTES TERMOS e declara que tem autoridade e capacidade para celebrar estes Termos. SE VOCÊ DISCORDA COM TODAS AS DISPOSIÇÕES DESTES TERMOS, NÃO USE O SITE.
            </p>
            <p>
                Você está ciente de que todos os direitos de propriedade intelectual, incluindo direitos autorais, patentes, marcas registradas e segredos comerciais, no Site e seu conteúdo são de propriedade da Green Power Serviços ou de seus fornecedores. Observe que estes Termos e o acesso ao Site não conferem a você quaisquer direitos, títulos ou interesses em ou sobre quaisquer direitos de propriedade intelectual.
            </p>
            <p>
                Todas as fotos e imagens presentes neste site são de propriedade da Green Power Serviços e estão protegidas por direitos autorais.
            </p>
            <p>
                O uso não autorizado de tais fotos e ou imagens é estritamente proibido e pode resultar em medidas legais.
            </p>
        </div>

        <h1 class="text-xl font-bold mb-2">Uso do site</h1>
        <div class="flex flex-col gap-6 mb-14">
            <p>
                A Green Power Serviços concede a você uma licença intransferível, não exclusiva, revogável e limitada para acessar o Site exclusivamente para seu uso pessoal e não comercial.
            </p>
            <p>
                Os direitos aprovados para você nestes Termos estão sujeitos às seguintes restrições: (a) você não deve vender, alugar, arrendar, transferir, ceder, distribuir, hospedar ou de outra forma explorar comercialmente o Site; (b) você não deverá alterar, fazer trabalhos derivados, desmontar, compilar reversamente ou fazer engenharia reversa de qualquer parte do Site; (c) você não deverá acessar o Site para construir um site semelhante ou competitivo; e (d) exceto conforme expressamente declarado neste documento, nenhuma parte do Site pode ser copiada, reproduzida, distribuída, republicada, baixada, exibida, postada ou transmitida de qualquer forma ou por qualquer meio, a menos que indicado de outra forma, qualquer lançamento futuro, atualização ou qualquer outra adição à funcionalidade do Site estará sujeita a estes Termos. Todos os direitos autorais e outros avisos de propriedade no Site devem ser mantidos em todas as cópias do mesmo.
            </p>
            <p>
                A Green Power Serviços respeita a propriedade intelectual de terceiros e solicita que os usuários do nosso Site façam o mesmo. Em conexão com o nosso Site, adotamos e implementamos uma política respeitando a lei de direitos autorais que prevê a remoção de quaisquer materiais infratores e o encerramento de usuários do nosso Site on-line que sejam infratores reiterados dos direitos de propriedade intelectual, incluindo direitos autorais.
            </p>
        </div>

        <h1 class="text-xl font-bold mb-2">Alterações nos termos de uso</h1>
        <div class="flex flex-col gap-6 mb-14">
            <p>
                A Green Power Serviços reserva-se o direito de alterar, suspender ou cessar o Site com ou sem aviso prévio. Você aprovou que a Green Power Serviços não será responsabilizada perante você ou terceiros por qualquer alteração, interrupção ou encerramento do Site ou de qualquer parte.
            </p>
            <p>
                É sua responsabilidade revisar estes termos de uso para estar ciente de quaisquer possíveis alterações.
            </p>
        </div>
        
        <h1 class="text-xl font-bold mb-2">Contato</h1>
        <div class="flex flex-col gap-6">
            <p>
                Se você possuir alguma dúvida sobre os termos aqui explícitos, entre em contato conosco através da página de <a class="hover:underline hover:font-black active:underline active:font-black font-bold" routerLink="/contact">contato</a>.
            </p>
            <p>Obrigado por visitar o site da Green Power Serviços. Esperamos que sua experiência seja agradável e informativa.</p>
        </div>
    </div>
</div>