<div class="w-full h-full">
    <div class="bg-img">
        <div class="w-full items-center bg-base-100/35 justify-center flex flex-col md:flex-row py-32 sm:py-44">
            <img class="logo w-1/4 h-auto sm:max-w-36" src="../../assets/vetor_green_power.png" alt="">
            <img class="w-full h-auto sm:max-w-xl" src="../../assets/green_power_name.png" alt="">
        </div>
        <div class="w-full h-20 sm:h-40 bg-gradient-to-t from-base-100 to-base-100/35"></div>   
    </div>
    <div class="flex flex-col w-full items-center sm:items-stretch bg-base-100 text-base-200 px-2 pb-20 pt-10 sm:pt-20 sm:pb-40">
        <div id="animated-text" class="flex -translate-x-full text-neutral flex-1 flex-col flex-wrap items-center content-center gap-4">
            <h1 class="text-center text-2xl sm:text-4xl">TRANSFORMANDO O <span class="font-extrabold">FUTURO</span> COM SOLUÇÕES SUSTENTÁVEIS</h1>
            <p class="text-center text-base sm:text-xl">Serviços de <span class="font-black">QUALIDADE</span> para parques eólicos</p>
        </div>
    </div> 
    <div class="flex flex-col w-full items-center bg-gradient-to-r from-neutral to-secondary text-base-100 gap-8 px-2 py-16">
        <div id="fade-in-text" class="flex opacity-0 flex-1 flex-col flex-wrap items-center content-center sm:w-2/4 gap-8">
            <h1 class="text-center text-2xl sm:text-4xl">NOSSA MISSÃO</h1>
            <p class="text-center text-base sm:text-xl leading-8 sm:leading-10">Satisfazer nossos clientes com excelência, otimizar o uso de recursos e buscar constantes melhorias e inovações. </p>
        </div>
        <button routerLink="/about" class="btn bg-base-100 hover:bg-gray-200 border-0 shadow-2xl text-neutral">Sobre nós!</button>
    </div>


    <div class="w-full flex flex-col text-neutral items-center text-center gap-8 my-14 sm:my-28">
        <div class="flex flex-col gap-4 items-center">
            <h1 class="text-2xl sm:text-4xl">TRABALHAMOS COM <span class="font-black">{{text}}</span> </h1>
            <p class="text-base sm:text-xl">Quer saber mais sobre nossos <span class="font-bold">serviços</span>?</p>
        </div>
        <button routerLink="/services" class="btn btn-neutral text-base-100 shadow-2xl">Clique aqui!</button>
    </div>



    <div class="w-full flex flex-col flex-wrap items-center content-center bg-gradient-to-t from-neutral to-base-100 text-neutral px-2 pb-10 gap-4">
        <h1 class="mb-4 text-center text-2xl hover:font-extrabold sm:text-4xl">POR QUE NOS ESCOLHER?</h1>
        
        <div class="flex flex-row flex-wrap w-full justify-center gap-4 md:gap-10">
            <div class="card transition-transform transform hover:scale-105 shadow-2xl rounded-md bg-base-100 w-72 md:w-80">
                <div class="card-body px-4 py-8 sm:py-10 sm:px-6 items-center text-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-20 h-20 mb-4">
                        <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
                    </svg>
                    <p>PROFISSIONAIS COM MAIS DE <span class="font-black">15 ANOS DE EXPERIÊNCIA</span></p>
                    <p>ELEVADOS PADRÕES DE <span class="font-black">EXCELÊNCIA</span></p>
                    <p>COMPROMISSO COM A <span class="font-black">SEGURANÇA</span></p>                
                </div>
            </div>
    
            <div class="card transition-transform transform hover:scale-105 shadow-2xl rounded-md bg-base-100 w-72 md:w-80">
                <div class="card-body px-4 py-8 sm:py-10 sm:px-8 items-center text-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-20 h-20 mb-4">
                        <path fill-rule="evenodd" d="M4.755 10.059a7.5 7.5 0 0 1 12.548-3.364l1.903 1.903h-3.183a.75.75 0 1 0 0 1.5h4.992a.75.75 0 0 0 .75-.75V4.356a.75.75 0 0 0-1.5 0v3.18l-1.9-1.9A9 9 0 0 0 3.306 9.67a.75.75 0 1 0 1.45.388Zm15.408 3.352a.75.75 0 0 0-.919.53 7.5 7.5 0 0 1-12.548 3.364l-1.902-1.903h3.183a.75.75 0 0 0 0-1.5H2.984a.75.75 0 0 0-.75.75v4.992a.75.75 0 0 0 1.5 0v-3.18l1.9 1.9a9 9 0 0 0 15.059-4.035.75.75 0 0 0-.53-.918Z" clip-rule="evenodd" />
                    </svg>                      
                    <p>FOCO NA <span class="font-black">SUSTENTABILIDADE</span></p>
                    <p><span class="font-black">TRANSPARÊNCIA</span> E INTEGRIDADE</p>
                    <p><span class="font-black">MELHORIA</span> CONTÍNUA</p>                
                </div>
            </div>

            <div class="card transition-transform transform hover:scale-105 shadow-2xl rounded-md bg-base-100 w-72 md:w-80">
                <div class="card-body px-4 py-8 sm:py-10 sm:px-8 items-center text-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-20 h-20 mb-4">
                        <path d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 0 0-1.032-.211 50.89 50.89 0 0 0-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 0 0 2.433 3.984L7.28 21.53A.75.75 0 0 1 6 21v-4.03a48.527 48.527 0 0 1-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979Z" />
                        <path d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 0 0 1.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0 0 15.75 7.5Z" />
                    </svg>                                           
                    <p>FOCO NO <span class="font-black">CLIENTE</span></p>
                    <p>SERVIÇOS <span class="font-black">PERSONALIZADOS</span></p>
                    <p><span class="font-black">ACESSIBILIDADE</span> E DISPONIBILIDADE</p>       
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center gap-8">
            <div class="flex flex-col gap-4">
                <h1 class=" mt-8 text-base-100 hover:font-extrabold text-center text-2xl sm:text-4xl">CONHEÇA-NOS</h1>
                <p class="text-base text-base-100 text-center sm:text-xl">Entre em contato, faça um orçamento!</p>
            </div>
            <button routerLink="/contact" class="btn bg-base-100 hover:bg-gray-200 border-0 shadow-2xl text-neutral">Contate-nos!</button>
        </div>
    </div>
</div>