.logo{
    animation: spin 2s linear infinite;
}

.bg-img{
  background-image: url('../../assets/eightturbines2.jpeg');
  background-position: center;
  background-size: cover;
}


@media only screen and (min-width:640px){
  .bg-img{
    background-position: right;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-slideInLeft {
  animation: slideInLeft 0.8s ease-out forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1.6s ease-out forwards;
}