<div class=" bg-img">
    <div class="w-full h-full flex flex-col items-center gap-4 bg-black/60">
        <div class="w-fit items-center text-base-100 justify-center mt-4 p-2 h-24 flex flex-col">
            <h1 class="text-5xl">Serviços</h1>
            <p class="text-sm font-extrabold">o que fazemos com excelência</p>
        </div>
    
        <!-- Card -->
        <div class="w-11/12 p-4 sm:p-8 card transition-transform transform hover:scale-105 mb-2 rounded-md bg-base-100/85 shadow-2xl">
            <div class="flex flex-col gap-4">
                <div class="text-neutral">
                    <h1 class="text-2xl mb-4 font-bold text-neutral">O&M</h1>
                    <p class="text-justify">O serviço de Operação e Manutenção (O&M) bem executado resulta em uma base sólida para o funcionamento dos parques eólicos.</p>
                </div>
                
                <div class="flex flex-row items-center mt-4 justify-end">
                    <p class="text-primary font-extrabold mr-4">Exibir detalhes</p>
                    <button (click)="details(0)" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus text-base-100 w-6 h-6 ">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="minus text-base-100 w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                        </svg>                  
                    </button>
                </div>
            </div>
    
            <div class="details overflow-hidden max-h-0 transition-all">
                <div class="border-t-4 border-primary w-full mt-2">
                    <p class="text-neutral font-bold mt-4">Manutenção preventiva</p>
                    <p class="mt-1 ml-6 text-neutral mb-2">Manuteção preventiva elétrica e mecânica, nas turbinas eólicas, torque de parafusos e prisioneiros, dos segmentos da nacelle e hub, lubrificação dos rolamentos e roletes do segmento de pitch,troca de óleo dos redutores, dentre outros.</p>
                    
                    <p class="text-neutral font-bold mt-4">Manutenção corretiva</p>
                    <p class="mt-1 ml-6 text-neutral mb-2">Manutenção corretiva eletrica e mecânica, analise de falhas via programa operacional do aerogerador, substituição de componentes, operação remota e local, dentre outros.</p>
                    
                    <p class="text-neutral font-bold mt-4">Manutenção preditiva</p>
                    <p class="mt-1 ml-6 text-neutral mb-2">Inspeções, afim de identificar danos, sanar futuras corretivas mecânicas e elétricas, retirada de pendências, aplicação de melhorias, dentre outros.</p>
                    
                    <p class="text-neutral font-bold mt-4">Inspeções e mapeamento de anomalias</p>
                    <p class="mt-1 ml-6 text-neutral mb-2">Inspeções periódicas ou à pedido do cliente, a fim de mapear possíveis anomalias que afetem o desempenho das máquinas.</p>
                    
                    <p class="text-neutral font-bold mt-4">Planos de ação</p>
                    <p class="mt-1 ml-6 text-neutral mb-2">Relatórios detalhados com sugestões de medidas corretivas de acordo com as anomalias detectadas.</p>
                    
                    <p class="text-neutral font-bold mt-4">Soluções e melhorias</p>
                    <p class="mt-1 ml-6 text-neutral mb-2">Soluções que impliquem no funcionamento correto e otimizado das máquinas.</p>
                    
                </div>
            </div>
        </div>
    
        <!-- Card -->
        <div class="w-11/12 p-4 sm:p-8 card transition-transform transform hover:scale-105 mb-2 rounded-md bg-base-100/85 shadow-2xl">
            <div class="flex flex-col gap-4">
                <div class="text-neutral">
                    <h1 class="text-2xl mb-4 font-bold text-neutral">Consultoria</h1>
                    <p class="text-justify">A consultoria desempenha um papel crucial no setor de energia eólica, impulsionando a modernização das usinas, orientando decisões estratégicas e promovendo a inovação tecnológica.</p>
                </div>
                
                <div class="flex flex-row items-center mt-4 justify-end">
                    <p class="text-primary font-extrabold mr-4">Exibir detalhes</p>
                    <button (click)="details(1)" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus text-base-100 w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="minus text-base-100 w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                        </svg> 
                    </button>
                </div>
            </div>
    
            <div class="details overflow-hidden max-h-0 transition-all">
                <div class="border-t-4 border-primary w-full mt-2">
                    <p class="text-neutral font-bold mt-4">Prestação de consultoria especializada</p>
                    <p class="mt-1 ml-6 text-neutral mb-2">A empresa oferece orientação especializada em energia eólica, auxiliando na tomada de decisões do seu negócio.</p>
        
                    <p class="text-neutral font-bold mt-4">Avaliação de viabilidade de projetos</p>
                    <p class="mt-1 ml-6 text-neutral mb-2">Avalia a viabilidade de projetos, levando em consideração fatores técnicos, econômicos e ambientais.</p>
                    
                    
                    <p class="text-neutral font-bold mt-4">Assessoria em questões regulatórias e ambientais</p>
                    <p class="mt-1 ml-6 text-neutral mb-2">Ajuda os clientes a navegar pelas complexas regulamentações e a cumprir os requisitos ambientais em vigor.</p>       
                </div>
            </div>
        </div>
    
        <div class="w-11/12 p-4 sm:p-8 card transition-transform transform hover:scale-105 rounded-md mb-8 bg-base-100/85 shadow-2xl">
            <div class="flex flex-col gap-4">
                <div class="text-neutral">
                    <h1 class="text-2xl mb-4 font-bold text-neutral">Fornecimento de equipamentos e materiais</h1>
                    <p class="text-justify">Soluções completas em equipamentos e materiais de alta performance para parques eólicos.</p>
                </div>
                
            </div>
        </div>
    </div>

</div>