.bg-img{
    background-image: url("../../assets/greenturbinesprofile3.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


.plus.change{
    display: none;
}

.minus{
    display: none;
}

.minus.change{
    display: block;
}