<div class="hero h-full bg-gradient-to-r from-primary to-neutral">
    <div class="hero-content py-4 text-center text-base-100">
      <div class="max-w-lg">
        <h1 class="text-9xl">404!</h1>
        <p class="pt-4 pb-8 text-5xl font-bold">Ops! Página não encontrada!</p>
        <button routerLink="" class="btn bg-base-100 hover:bg-gray-200 border-0 mt-2 shadow-2xl text-neutral">
            <p>Voltar</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>              
        </button>
      </div>
    </div>
  </div>