<div class="w-full h-full flex flex-col items-center">
    <div class="flex rounded-md flex-col w-11/12 bg-neutral/85 text-base-100 my-8 p-4 text-justify leading-7">
        <h1 class="text-3xl mb-8 font-bold self-center text-start">POLÍTICA DE PRIVACIDADE</h1>
        <div class="flex flex-col gap-6 mb-14">
            <p>
                Valorizamos sua privacidade e estamos comprometidos em proteger as informações que você compartilha conosco. Esta Política de Privacidade explica como coletamos, usamos e protegemos os dados pessoais que podem ser obtidos durante sua visita ao nosso site.
            </p>
        </div>

        <h1 class="text-xl font-bold mb-2">Coleta de informações</h1>
        <div class="flex flex-col gap-6 mb-14">
            <p>
                Não coletamos informações pessoais identificáveis, como nomes, endereços de e-mail, números de telefone ou qualquer outra informação que possa identificá-lo diretamente, a menos que você nos forneça voluntariamente através de meios de contato fornecidos em nosso site.
            </p>
        </div>

        <h1 class="text-xl font-bold mb-2">Cookies</h1>
        <div class="flex flex-col gap-6 mb-14">
            <p>
                Não utilizamos cookies ou tecnologias semelhantes para coletar informações pessoais ou rastrear a atividade dos visitantes em nosso site.
            </p>
        </div>

        <h1 class="text-xl font-bold mb-2">Links para sites de terceiros</h1>
        <div class="flex flex-col gap-6 mb-14">
            <p>
                Nosso site pode conter links para sites de terceiros que não são controlados ou operados por nós. Recomendamos que você revise as políticas de privacidade de cada site que visita.
            </p>
        </div>

        <h1 class="text-xl font-bold mb-2">Segurança</h1>
        <div class="flex flex-col gap-6 mb-14">
            <p>
                Implementamos medidas razoáveis de segurança para proteger as informações pessoais que você nos fornece contra acesso não autorizado, uso indevido ou divulgação não autorizada.
            </p>
        </div>

        <h1 class="text-xl font-bold mb-2">Alterações na Política de Privacidade</h1>
        <div class="flex flex-col gap-6 mb-14">
            <p>
                Reservamos o direito de atualizar esta Política de Privacidade periodicamente. Quaisquer alterações serão publicadas nesta página.
            </p>
        </div>
        
        <h1 class="text-xl font-bold mb-2">Contato</h1>
        <div class="flex flex-col gap-6">
            <p>
                Se você possuir alguma dúvida sobre esta Política de Privacidade aqui explícita, entre em contato conosco através da página de <a class="hover:underline hover:font-black active:underline active:font-black font-bold" routerLink="/contact">contato</a>.
            </p>
            <p>Obrigado por visitar o site da Green Power Serviços. Esperamos que sua experiência seja agradável e informativa.</p>
        </div>
    </div>
</div>