<div class="w-full h-full">
    <div class="bg-img flex flex-col items-center gap-4">
        <div class="w-full mt-4 items-center justify-center bg-base-100/85 h-24 flex flex-col">
            <h1 class="text-5xl text-neutral">Sobre</h1>
            <p class="text-sm text-secondary font-extrabold">quem somos</p>
        </div>
    
        <div class="w-11/12 p-4 md:p-8 rounded-md card bg-base-100/90">
            <div class="flex flex-col md:flex-row gap-4">
                <div class="md:w-6/12 md:pr-8 text-neutral">
                    <h1 class="text-2xl md:text-3xl mb-4 text-center md:text-start font-bold text-secondary">Green Power Serviços</h1>
                    <p class="text-justify leading-7 md:text-lg">A <span class="font-bold">Green Power Serviços</span> é uma empresa especializada em serviços para <span class="font-bold">parques eólicos e solares</span>.</p>
                        <ul class="list-disc md:text-lg font-bold mb-4 mt-2 ml-4">
                            <li>Montagem</li>
                            <li>Instalação</li>
                            <li>Manutenção</li>
                            <li>Monitoramento de parques</li>
                            <li>Consultoria em inovação</li>
                        </ul>
                </div>
                <div class="shadow-[-10px_10px_0_0_rgba(0,0,0,0.3)] md:shadow-[-20px_20px_0_0_rgba(0,0,0,0.3)] shadow-primary md:shadow-primary skeleton h-64 w-full md:h-72 md:w-6/12 bg-neutral-content rounded-md">
                </div>
            </div>
        </div>
    
        <div class="w-11/12 p-4 md:p-8 mb-4 rounded-md card bg-base-100/90">
            <div class="flex flex-col md:flex-row-reverse gap-4">
                <div class="md:w-6/12 md:px-4 md:mr-4 text-neutral">
                    <h1 class="text-2xl md:text-3xl mb-4 font-bold text-center md:text-start text-secondary">História</h1>
                    <p class="leading-7 sm:leading-8 lg:leading-10 text-justify text-base md:text-lg">A Green Power Serviços foi fundada em 2023 por um grupo de profissionais em energias renováveis. Constatamos a falta de serviços de qualidade nesse setor, e esse entendimento inspirou nossa entrada no mercado com o propósito de elevar os padrões de excelência.</p>
                </div>
                <div class="shadow-[-10px_10px_0_0_rgba(0,0,0,0.3)] md:shadow-[-20px_20px_0_0_rgba(0,0,0,0.3)] shadow-primary md:shadow-primary skeleton h-64 w-full md:h-72 md:w-6/12 bg-neutral-content rounded-md">
                </div>
            </div>
        </div>
    </div>

    <div class="w-full bg-base-100/85 gap-4 px-4 py-8 text-neutral flex flex-col sm:items-start">
        <div class="w-full flex flex-col items-center">
            <h1 class="mb-4 text-2xl font-bold">Nossa sede</h1>
            <p>Aracati - CE</p>
        </div>
        <div class="w-full flex flex-row flex-wrap gap-8 justify-center">
            <div class="shadow-[-10px_10px_0_0_rgba(0,0,0,0.3)] sm:shadow-[-20px_20px_0_0_rgba(0,0,0,0.3)] shadow-primary sm:shadow-primary skeleton bg-neutral-content h-60 sm:h-72 w-full sm:w-5/12 rounded-md"></div>
            <div class="shadow-[-10px_10px_0_0_rgba(0,0,0,0.3)] sm:shadow-[-20px_20px_0_0_rgba(0,0,0,0.3)] shadow-primary sm:shadow-primary skeleton bg-neutral-content h-60 sm:h-72 w-full sm:w-5/12 rounded-md"></div>                
            <div class="shadow-[-10px_10px_0_0_rgba(0,0,0,0.3)] sm:shadow-[-20px_20px_0_0_rgba(0,0,0,0.3)] shadow-primary sm:shadow-primary skeleton bg-neutral-content h-60 sm:h-72 w-full sm:w-5/12 rounded-md"></div>                
        </div>
    </div>


    <div class="w-full bg-neutral/85 gap-4 px-4 py-4 text-base-100 flex flex-col sm:flex-row sm:items-start">
        <div class="w-full flex flex-col">
            <h1 class="mb-4 text-2xl md:text-3xl font-bold self-center">Manifesto Cultural</h1>
            <p class="md:text-lg">Na jornada para a sustentabilidade, nossos valores guiam nossos passos.</p>
            <ul class="list-decimal mt-4 ml-4 md:text-lg">
                <li class="font-bold">Inovação Sustentável:</li>
                <ul class="mb-4">
                    <li class="list-disc ml-2">Comprometemo-nos a impulsionar a inovação em energias renováveis, priorizando práticas sustentáveis em todos os aspectos de nossos negócios.</li>
                </ul>

                <li class="font-bold">Governança Transparente:</li>
                <ul class="mb-4">
                    <li class="list-disc ml-2">Mantemos uma cultura de integridade e transparência em todos os aspectos de nossos negócios, promovendo uma governança sólida e confiável para todos os nossos parceiros.</li>
                </ul>

                <li class="font-bold">Inclusão e Diversidade:</li>
                <ul class="mb-4">
                    <li class="list-disc ml-2">Valorizamos a diversidade em nossa equipe e nos esforçamos para criar um ambiente inclusivo, onde todas as vozes são ouvidas e respeitadas, promovendo a igualdade de oportunidades e o respeito mútuo.</li>
                </ul>

                <li class="font-bold">Excelência e Profissionalismo:</li>
                <ul>
                    <li class="list-disc ml-2">Buscamos a excelência em tudo o que fazemos, mantendo altos padrões de qualidade e profissionalismo em nossas operações.</li>
                </ul>
            </ul>
        </div>
    </div>

</div>